<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Search-option-menu.css">
    <link rel="stylesheet" href="style/Shortcut-menu.css">
    <link rel="stylesheet" href="style/Page-selection.css">
    <link rel="stylesheet" href="style/common.css">
</head>
<body>
    <div class="Logo"></div>
    <div class="header-wrapper">
        <div class="Search-option-menu">
            <form  class="Search">
                <img src="" alt="">
                <input class="Search-anywhere" type="search" placeholder="Anywhere">
            </form>
            <form class="Search">
                <img src="" alt="">
                <input class="Search-anytime" type="search" placeholder="Anytime">
            </form>
            <form class="Search">
                <img src="" alt="">
                <input class="Search-guests" type="search" placeholder="1 guest">
            </form>
        </div>
        <div class="Shortcut-menu">
            <a class="Shortcut-menu__become-a-host" href=""> Become a Host</a>
            <a class="Shortcut-menu__help" href=""> Help</a>
            <a class="Shortcut-menu__sign-up" href=""> Sign Up</a>
            <a class="Shortcut-menu__log-in" href=""> Log In</a>
        </div>
    </div>
    <div class="Page-selection">
        <a class="Page-selection__for-you" href="">FOR YOU</a>
        <a class="Page-selection__homes" href="">HOMES</a>
        <a class="Page-selection__experiences" href="">EXPERIENCES</a>
        <a class="Page-selection__places" href="">PLACES</a>
    </div>
</body>
</html>