<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Layout.css">
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/Advertisement.css">
    <link rel="stylesheet" href="style/Page-selection.css">
    <link rel="stylesheet" href="style/Search-option-menu.css">
    <link rel="stylesheet" href="style/Shortcut-menu.css">
    <link rel="stylesheet" href="style/Footer.css">
    <link rel="stylesheet" href="style/User-navigation.css">
    <link rel="stylesheet" href="style/Search-destination.css">
    <link rel="stylesheet" href="style/greed1272.css">
    <link rel="stylesheet" href="style/Logo.css">
    <link rel="stylesheet" href="style/grid1190.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="container_14">
    <aside class="Header">
        <div class="Logo"></div>
        <div class="grid grid_14 clearfix">
            <form class="Search-destination grid grid_9 alpha omega" action="">
                <img class="Search-destination__icon" src="">
                <input class="Search-destination__input" type="search" placeholder="Anywhere">
                <img class="Search-destination__icon" src="">
                <input class="Search-destination__input" type="search" placeholder="Anytime">
                <img class="Search-destination__icon" src="">
                <input class="Search-destination__input" type="search" placeholder="1 guest">
            </form>
            <nav class="User-navigation grid grid_5 prefix_4 alpha omega">
                <a class="User-navigation__item" href="">Become a host</a>
                <a class="User-navigation__item" href="">Help</a>
                <a class="User-navigation__item" href="">Sign in</a>
                <a class="User-navigation__item" href="">Log in</a>
            </nav>
        </div>
        <div class="grid grid_14">
            <div class="Page-selection grid grid_6">
                <a class="Page-selection__for-you" href="">FOR YOU</a>
                <a class="Page-selection__homes" href="">HOMES</a>
                <a class="Page-selection__experiences" href="">EXPERIENCES</a>
                <a class="Page-selection__places" href="">PLACES</a>
            </div>
        </div>
        <div class="Divider"></div>
    </aside>
    <main class="grid grid_14">
        <aside class="Advertisement grid grid_14 clearfix">
            <h1 class="article-title prefix_1">Just Booked</h1>
            <figure class="Image-with-price grid_2 suffix_1 prefix_1">
                <img class="Image-with-price__image" src="http://res.cloudinary.com/dxwohbbol/image/upload/c_scale,h_290,w_194/v1516975295/1_rwe4do.png" alt="">
                <figcaption class="Image-with-price__description">$7956 Step behind the scenes of Havana’s theater</figcaption>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="Image-with-price__reviews">84 reviews</span>
            </figure>
            <figure class="Image-with-price grid_2 suffix_1">
                <img src="http://res.cloudinary.com/dxwohbbol/image/upload/c_scale,h_290,w_194/v1517008385/2_zf2lop.jpg" alt="">
                <figcaption class="Image-with-price__description">$7956 Dance your way into Cuban culture with a</figcaption>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="Image-with-price__reviews">84 reviews</span>
            </figure>
            <figure class="Image-with-price grid_2 suffix_1">
                <img src="http://res.cloudinary.com/dxwohbbol/image/upload/c_fill,h_290,w_194/v1517007840/3_igjty3.jpg" alt="">
                <figcaption class="Image-with-price__description">$13,361 Hunt for truffles in the countryside</figcaption>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="Image-with-price__reviews">84 reviews</span>
            </figure>
            <figure class="Image-with-price grid_2 suffix_1">
                <img src="http://res.cloudinary.com/dxwohbbol/image/upload/c_fill,h_290,w_194/v1517008155/4_mwaczg.jpg" alt="">
                <figcaption class="Image-with-price__description">$23,204 Meet Kenyan innovators with a Nairobi...</figcaption>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="Image-with-price__reviews">84 reviews</span>
            </figure>
            <figure class="Image-with-price grid_2 suffix_1">
                <img src="http://res.cloudinary.com/dxwohbbol/image/upload/c_fill,h_290,w_194/v1517008216/5_y8enpc.jpg" alt="">
                <figcaption class="Image-with-price__description">$18,232 Explore Miami’s Latin flavors with food...</figcaption>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="Image-with-price__reviews">84 reviews</span>
            </figure>
        </aside>
        <aside class="Advertisement grid grid_14 clearfix">
            <h1 class="article-title prefix_1">Featured destinations</h1>
            <figure class="Featured grid_2 prefix_1">
                <img class="Featured__image" src="http://res.cloudinary.com/dxwohbbol/image/upload/c_scale,h_238,w_159/v1517009655/1_jfdupn.jpg" alt="">
                <figcaption class="Featured__description">Los Angeles</figcaption>
            </figure>
            <figure class="Featured grid_2">
                <img class="Featured__image" src="http://res.cloudinary.com/dxwohbbol/image/upload/c_scale,h_238,w_159/v1517010003/121058be5e7a9fe2f66bcdec02caca80_c4audl.jpg" alt="">
                <figcaption class="Featured__description">Florence</figcaption>
            </figure>
            <figure class="Featured grid_2">
                <img class="Featured__image" src="http://res.cloudinary.com/dxwohbbol/image/upload/c_scale,h_238,w_159/v1517010114/50727012d6a5ab309646188981f9cf59--paris-drawing-paris-balcony_h1ejgt.jpg" alt="">
                <figcaption class="Featured__description">Paris</figcaption>
            </figure>
            <figure class="Featured grid_2">
                <img class="Featured__image" src="http://res.cloudinary.com/dxwohbbol/image/upload/c_fill,h_238,w_159/v1517010666/1-bourbon-street-red-diane-millsap_jc7uyz.jpg" alt="">
                <figcaption class="Featured__description">Amsterdam</figcaption>
            </figure>
            <figure class="Featured grid_2">
                <img class="Featured__image" src="http://res.cloudinary.com/dxwohbbol/image/upload/c_scale,h_238,w_159/v1517010444/kr_LO22_oadq25.jpg" alt="">
                <figcaption class="Featured__description">Seoul</figcaption>
            </figure>
            <figure class="Featured grid_2">
                <img class="Featured__image" src="http://res.cloudinary.com/dxwohbbol/image/upload/c_scale,h_238,w_159/v1517011174/brickell-stage-university-of-miami-architecture-school-design-installations_dezeen_2364_col_9-852x1044_jj123k.jpg" alt="">
                <figcaption class="Featured__description">Miami</figcaption>
            </figure>
        </aside>
        <article class="Advertisement grid grid_14 clearfix">
            <h1 class="article-title prefix_1 ">Experiences</h1>
            <figure class="Image-with-price grid_2 suffix_1 prefix_1">
                <img class="Image-with-price__image" src="http://res.cloudinary.com/dxwohbbol/image/upload/c_fill,h_290,w_194/v1517018126/Sewells_Sea_safari_6-e1478281581938_j7qey5.jpg" alt="">
                <figcaption class="Image-with-price__description">$7956 Step behind the scenes of Havana’s theater</figcaption>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="Image-with-price__reviews">84 reviews</span>
            </figure>
            <figure class="Image-with-price grid_2 suffix_1">
                <img src="http://res.cloudinary.com/dxwohbbol/image/upload/c_fill,h_290,w_194/v1517017955/sunset_front_i2gofl.jpg" alt="">
                <figcaption class="Image-with-price__description">$7956 Dance your way into Cuban culture with a</figcaption>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="Image-with-price__reviews">84 reviews</span>
            </figure>
            <figure class="Image-with-price grid_2 suffix_1">
                <img src="http://res.cloudinary.com/dxwohbbol/image/upload/c_fill,h_290,w_194,x_541,y_0/v1517018487/992a309f49513599bcfef05cb3b2a8a9_hvht3w.jpg" alt="">
                <figcaption class="Image-with-price__description">$13,361 Hunt for truffles in the countryside</figcaption>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="Image-with-price__reviews">84 reviews</span>
            </figure>
            <figure class="Image-with-price grid_2 suffix_1">
                <img src="http://res.cloudinary.com/dxwohbbol/image/upload/c_fill,h_290,w_194/v1517018705/DUUv4ErXcAE-jzk_boqib6.jpg" alt="">
                <figcaption class="Image-with-price__description">$23,204 Meet Kenyan innovators with a Nairobi...</figcaption>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="Image-with-price__reviews">84 reviews</span>
            </figure>
            <figure class="Image-with-price grid_2 suffix_1">
                <img src="http://res.cloudinary.com/dxwohbbol/image/upload/c_fill,h_290,w_194/v1517018787/8a1d9f2f6dfa3990c22579015e1cef41--sea-paintings-acrylic-paintings_w64ej2.jpg" alt="">
                <figcaption class="Image-with-price__description">$18,232 Explore Miami’s Latin flavors with food...</figcaption>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="Image-with-price__reviews">84 reviews</span>
            </figure>
        </article>
        <article class="Advertisement grid grid_14 clearfix">
            <h1 class="article-title prefix_1">Places in London</h1>
            <div class="Image-container grid_2 suffix_1 prefix_1">
                <div class="Image1">
                    <a class="link" href="">GUIDE</a>
                    <p class="title">HANDBAG SHOPPING</p>
                </div>
                <p class="Image-container__description">By Chanda Stacker	Food Blogger</p>
            </div>
            <div class="Image-container grid_2 suffix_1">
                <div class="Image2">
                    <a class="link" href="">GUIDE</a>
                    <p class="title">WHERE TO SEE COMEDY</p>
                </div>
                <p class="Image-container__description">By Edgar Agbayani Chef</p>
            </div>
            <div class="Image-container grid_2 suffix_1">
                <div class="Image3">
                    <a class="link" href="">GUIDE</a>
                    <p class="title">SCARF SHOPS</p>
                </div>
                <p class="Image-container__description">By Carlos Muela SoMa StrEat Food Park</p>
            </div>
            <div class="Image-container grid_2 suffix_1">
                <div class="Image4">
                    <a class="link" href="">GUIDE</a>
                    <p class="title">VINE BARS</p>
                </div>
                <p class="Image-container__description">By Apexer Artist</p>
            </div>
            <div class="Image-container grid_2 suffix_1">
                <div class="Image5">
                    <a class="link" href="">GUIDE</a>
                    <p class="title">VINTAGE DECOR</p>
                </div>
                <p class="Image-container__description">By Andrew McClintock Gallerist</p>
            </div>
        </article>
    </main>
    <div class="Divider"></div>
    <footer class="Footer">
        <div class="grid grid_14 clearfix">
            <section class="Select-boxes grid grid_3 prefix_1 suffix_3">
                <div class="Language">
                    <select class="Language__select">
                        <option value="1">English</option>
                        <option value="2">Ukrainian</option>
                        <option value="3">Polski</option>
                        <option value="4">Espanol</option>
                        <option value="5">Italian</option>
                        <option value="6">Japanese</option>
                    </select>
                </div>
                <div class="Payment-currency">
                    <select class="Payment-currency__select">
                        <option value="1">INR</option>
                        <option value="2">USD</option>
                        <option value="3">EUR</option>
                        <option value="4">UAH</option>
                    </select>
                </div>
            </section>
            <article class="Additional-info grid grid_9">
                <div class="Additional-info__item grid grid_2 alpha">
                    <p class="Additional-info__item_title">Airbnb</p>
                    <a class="Additional-info__item_link" href="">About us</a>
                    <a class="Additional-info__item_link" href="">Careers</a>
                    <a class="Additional-info__item_link" href="">Press</a>
                    <a class="Additional-info__item_link" href="">Policies</a>
                    <a class="Additional-info__item_link" href="">Help</a>
                    <a class="Additional-info__item_link" href="">Diversity & Belonging</a>
                </div>
                <div class="Additional-info__item grid grid_2 prefix_1">
                    <p class="Additional-info__item_title">Discover</p>
                    <a class="Additional-info__item_link" href="">Trust & Safety</a>
                    <a class="Additional-info__item_link" href="">Travel Credit</a>
                    <a class="Additional-info__item_link" href="">Gidt Cards</a>
                    <a class="Additional-info__item_link" href="">Airbnb Citizen</a>
                    <a class="Additional-info__item_link" href="">Business Travel</a>
                    <a class="Additional-info__item_link" href="">Guidebooks</a>
                    <a class="Additional-info__item_link" href="">Airbnbmag</a>
                </div>
                <div class="Additional-info__item grid grid_2 prefix_1">
                    <p class="Additional-info__item_title">Hosting</p>
                    <a class="Additional-info__item_link" href="">Why Host</a>
                    <a class="Additional-info__item_link" href="">Hospitality</a>
                    <a class="Additional-info__item_link" href="">Responsible Hosting</a>
                    <a class="Additional-info__item_link" href="">Community Center</a>
                </div>
            </article>
        </div>
        <div class="Divider"></div>
        <div class="Extra grid_14 clearfix">
            <div class="Copyright grid_2 prefix_1 suffix_5">Airbnb, Inc.</div>
            <div class="Terms-Privacy-SiteMap grid grid_9">
                <a class="Terms-Privacy-SiteMap__item grid_2 prefix_3 alpha omega" href="">Terms</a>
                <a class="Terms-Privacy-SiteMap__item grid_2 alpha omega" href="">Privacy</a>
                <a class="Terms-Privacy-SiteMap__item grid_2 alpha omega" href="">Site Map</a>
            </div>
            <div class="Social-network-icons grid grid_6"></div>
        </div>
    </footer>
</body>
</html>