.Page-selection {
  margin-top: 12px;
}
.Page-selection a {
  font-family: SFUIText;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: #484848;
  padding-bottom: 10px;
  margin-right: 26px;
}
.Page-selection a:hover {
  color: deepskyblue;
}
.Page-selection a.Page-selection__for-you {
  color: deepskyblue;
  border-bottom: 2px solid deepskyblue;
}
