.Advertisement {
  margin-top: 110px;
}
.checked {
  color: deepskyblue;
}
.article-title {
  margin-left: 10px;
  font-family: SFUIText;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}
.Image-with-price {
  width: 194px;
  margin: 0;
  padding-right: 16px;
}
.Image-with-price__description {
  font-family: SFUIText;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}
.Image-with-price__reviews {
  font-family: SFUIText;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}
.Image-with-price__image {
  background-color: #777777;
}
.Featured {
  margin: 0;
  padding-right: 30px;
}
.Featured__description {
  font-family: SFUIText;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}
.Featured__image {
  opacity: .7;
}
.Image-container {
  width: 194px;
  padding-right: 16px;
}
.Image-container__description {
  font-family: SFUIText;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}
.link {
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  margin-left: 7px;
  bottom: -126px;
  text-decoration: none;
  font-family: Baskerville;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: left;
  color: #484848;
  width: 51px;
  height: 18px;
  border-radius: 4px;
  background-color: #ffffff;
}
.title {
  position: relative;
  padding-left: 7px;
  bottom: -105px;
  font-family: Baskerville;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: -1px;
  text-align: left;
  color: #ffffff;
  text-shadow: 3px 3px 6px black, 0 0 2em black;
}
.Image1 {
  background-image: url(../images/1.jpg);
  width: 194px;
  height: 194px;
}
.Image2 {
  background-image: url(../images/2.jpg);
  width: 194px;
  height: 194px;
}
.Image3 {
  background-image: url(../images/3.jpg);
  width: 194px;
  height: 194px;
}
.Image4 {
  background-image: url(../images/4.jpg);
  width: 194px;
  height: 194px;
}
.Image5 {
  background-image: url(../images/5.jpg);
  width: 194px;
  height: 194px;
}
